@charset "utf-8";
html {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100vw;
  height: 100vh;
  background: #f7f7f7;
  // background: #999999;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  font-size: 26.6666666vw;
  body {
    width: 100%;
    height: 100%;
    .title-bar {
      width: 100%;
      height: 0.5rem;
      display: inline-block;
      background-color: #f7f7f7 !important;
      text-align: center;
      font-size: 0.16rem;
      font-weight: bold;
      line-height: 0.5rem;
    }
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 200px !important;
  }
  .title-bar {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 85px !important;
  }
}

@media (min-width: 640px) {
  .uk-container {
    padding-left: 8px;
    padding-right: 8px;
  }
}

// override
.uk-cover {
  height: 2.1rem !important;
  min-height: 180px !important;
}

.uk-dotnav {
  a {
    background-color: #ffffff !important;
  }
  .uk-active {
    a {
      background-color: #333333 !important;
    }
  }
}

.uk-container {
  padding: 10px 8px;
  // padding-left: 10px;
  // padding-right: 10px;
}

// Mirror CSS normalize reset
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
// body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp{line-height:1.5;font-family:tahoma,arial,"Hiragino Sans GB",simsun,sans-serif}
/* h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:100%} */
// h1,h2,h3,h4,h5,h6{font-family:tahoma,arial,"Hiragino Sans GB","微软雅黑",simsun,sans-serif}
/* h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal} */
// address,cite,dfn,em,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu{list-style:none}
fieldset,img{border:0}
img,object,input,textarea,button,select{vertical-align:middle}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020"}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none;border: none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
mark{background-color:transparent}
a,ins,s,u,del{text-decoration:none}
sup,sub{vertical-align:baseline}
html {overflow-x: hidden;-webkit-tap-highlight-color: transparent;box-sizing: border-box;}
body {line-height: 1;-webkit-text-size-adjust: none;box-sizing: border-box;}
hr {height: .02rem;margin: .1rem 0;border: medium none;border-top: .02rem solid #cacaca;}
a {color: #333333;text-decoration: none;}