html {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100vw;
  height: 100vh;
  background: #f7f7f7;
  overflow-x: hidden;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  font-size: 26.6666666vw;
  body {
    width: 100%;
    .title-bar {
      width: 100%;
      height: 10vmin;
      display: inline-block;
      background-color: #ffffff;
      text-align: center;
      font-size: 0.16rem;
      font-weight: bold;
      line-height: 10vmin;
    }
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 200px !important;
  }
  .title-bar {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 85px !important;
  }
}

@media (min-width: 640px) {
  .uk-container {
    padding-left: 8px;
    padding-right: 8px;
  }
}

// override
.uk-cover {
  height: 2.1rem !important;
  min-height: 180px !important;
}

.uk-dotnav {
  a {
    background-color: #ffffff !important;
  }
  .uk-active {
    a {
      background-color: #333333 !important;
    }
  }
}

.uk-container {
  padding: 10px 8px;
  // padding-left: 10px;
  // padding-right: 10px;
}